/* Abouts
 *     ,.   .           .      
 *    / |   |-. ,-. . . |- ,-. 
 *   /~~|-. | | | | | | |  `-. 
 * ,'   `-' ^-' `-' `-^ `' `-'  */

.page-abouts .card {
	padding: 12px 0 0;
	width: 206px;
}

.page-abouts .card img {
	max-width: 180px;
}

.page-abouts .masonry-grid-sizer {
	width: 206px;
}

/* Courses
 *  ,--.                         
 * | `-' ,-. . . ,-. ,-. ,-. ,-. 
 * |   . | | | | |   `-. |-' `-. 
 * `--'  `-' `-^ '   `-' `-' `-' */

.page-courses .card {
	width: 208px;
}

@media (min-width: 768px) {
	.page-courses .card.card-2x {
		width: 440px;
	}
}

.page-courses .masonry-grid-sizer {
	width: 208px;
}

/* Events
 * `.---              .          
 *  |__  .  , ,-. ,-. |- ,-.     
 * ,|    | /  |-' | | |  `-.     
 * `^--- `'   `-' ' ' `' `-' */

@media (max-width: 767px) {
	.page-events .masonry-container {
		margin-right: 0;
	}
}

.page-events .card {
	width: 100%;
}

.page-events .masonry-grid-sizer {
	width: 208px;
}

@media (min-width: 768px) {
	.page-events .card,
	.page-events .masonry-grid-sizer {
		width: 360px;
	}
}

@media (min-width: 992px) {
	.page-events .card,
	.page-events .masonry-grid-sizer {
		width: 305px;
	}
}

@media (min-width: 1200px) {
	.page-events .card,
	.page-events .masonry-grid-sizer {
		width: 372px;
	}
}

/* Projects
 * .-,--.                   .      
 *  '|__/ ,-. ,-. . ,-. ,-. |- ,-. 
 *  ,|    |   | | | |-' |   |  `-. 
 *  `'    '   `-' | `-' `-' `' `-' 
 *                |                
 *               `'                 */

.page-projects .card {
	width: 290px;
}

@media (min-width: 768px) {
	.page-projects .card.card-2x {
		width: 604px;
	}
}

.page-projects .masonry-grid-sizer {
	width: 290px;
}
